@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body{
	@apply bg-white dark:bg-primary;
}
html, body {
	overflow-x: hidden;
}
*{
    
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	scrollbar-color: #52545D #2C3142;
	scrollbar-width: thick;
	scroll-behavior: smooth;
	color: white;
}

a {
	text-decoration: none;
}

*::-webkit-scrollbar {
    width: 6px;
}
 
*::-webkit-scrollbar-track {
	background-color: #2C3142;
}
 
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #52545D;
}
*::-webkit-scrollbar-corner{
	background-color: #2C3142;
}
.primary-button {
	@apply rounded-md py-2 text-xl border-none;
}
.primary-link {
	@apply text-accent font-bold;
}
button {
	@apply border-none;
}
button:hover {
	cursor: pointer;
}
button:disabled {
	cursor: not-allowed;
	opacity: 0.3;
}
input {
	@apply border-solid focus:outline-none;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-in {
	animation: 0.3s ease-out 0s 1 fadeIn;
}

[data-tooltip] {
	position: relative;
	z-index: 2;
	display: block;
}

[data-tooltip]:before,
[data-tooltip]:after {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: .2s ease-out;
	transform: translate(-50%, 5px)
}

[data-tooltip]:before {
	@apply absolute bottom-full left-1/2 mb-1 p-2 rounded-sm bg-very-dark-primary text-white text-center text-sm min-w-2xx;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	content: attr(data-tooltip);
	transition: .2s ease-out;
}

[data-tooltip]:after {
	@apply absolute bottom-full left-1/2 w-0;
	border-top: 5px solid rgb(21, 24, 33);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	opacity: 1;
	transform: translate(-50%, 0)
}
[data-tooltip=false]:hover:before,
[data-tooltip=false]:hover:after {
	visibility: hidden;
	opacity: 0;
}

@media screen and (max-width: 1280px) {
	[data-tooltip].right:hover:before,
	[data-tooltip].right:hover:after {
		transform: translate(-10%, 0)
	}
	[data-tooltip].left:hover:before,
	[data-tooltip].left:hover:after {
		transform: translate(-90%, 0)
	}
	[data-tooltip].right:before,
	[data-tooltip].right:after {
		transform: translate(-10%, 5px)
	}
	[data-tooltip].left:before,
	[data-tooltip].left:after {
		transform: translate(-90%, 5px)
	}
}